---
const personalImageAlt = "Ariel Rodrigo";
import Badge from "@/components/Badge.astro";
import LinkedInIcon from "@/components/icons/LinkedIn.astro";
import GithubIcon from "@/components/icons/GitHub.astro";
import CVIcon from "@/components/icons/cv.astro";
import MailIcon from "@/components/icons/Mail.astro";
import LocationIcon from "@/components/icons/Location.astro";
import SocialPill from "@/components/SocialPill.astro";
import LocationPill from "@/components/LocationPill.astro";
import { Image } from "astro:assets";
import arielImage from "../img/ariel.jpg";
import imageBolivia from "../img/bolivia.png";
import "@fortawesome/fontawesome-free/css/all.min.css";
---

<div class="max-w-xl">
  <div class="flex gap-1 mb-4">
    <Image
      class="rounded-full shadow-lg size-20"
      src={arielImage}
      alt={personalImageAlt}
    />
    <a
      href="https://linkedin.com/in/ariel-c-garcia"
      target="_blank"
      rel="noopener"
      class="flex items-center transition md:justify-center md:hover:scale-105"
    >
      <Badge>Disponible para trabajar</Badge>
    </a>
  </div>
  <h1
    class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white"
  >
    Hey, soy Rodrigo
  </h1>
  <p
    class="mt-6 text-xl text-gray-800 dark:[&>strong]:text-yellow-200 [&>strong]:text-yellow-500 [&>strong]:font-semibold dark:text-gray-300"
  >
    Desarrollador <strong class="text-2xl font-bold text-blue-500"
      >Backend</strong
    > con más de 1 año de experiencia Estudiante de Ingeniería en Ciencias de la
    Computación, enfocado en <strong>
      microservicios utilizando Java y Spring Framework</strong
    >. Aspiro a especializarme en soluciones escalables y obtener
    certificaciones de Oracle.
  </p>
</div>
<div class="flex justify-between py-5">
  <LocationPill href="https://maps.app.goo.gl/LWznNXrteCtB6Wvm9">
    <LocationIcon class="size-4 inline" />
    Sucre - Bolivia <Image
      src={imageBolivia}
      alt="Bolivia"
      class="inline size-7 align-middle"
    />
  </LocationPill>
</div>
<nav class="flex flex-wrap gap-4">
  <SocialPill href="mailto:colqueariel023@gmail.com">
    <MailIcon class="size-4" />
    Contáctame
  </SocialPill>
  <SocialPill href="https://linkedin.com/in/ariel-c-garcia">
    <LinkedInIcon class="size-4" />
    LinkedIn
  </SocialPill>
  <SocialPill href="https://github.com/rodrygo-c-garcia">
    <GithubIcon class="size-4" />
    Github
  </SocialPill>
  <SocialPill
    href="https://drive.google.com/file/d/1KXx6G1rbv66VrL37oKrBUT6dIxrzv2lR/view?usp=drive_link"
  >
    <CVIcon class="size-4" />
    CV
  </SocialPill>
</nav>
