<a
  {...Astro.props}
  target="_blank"
  rel="noopener noreferrer"
  role="link"
  class="inline-flex items-center justify-center gap-2 px-4 py-1 text-gray-800 transition border border-gray-300 rounded-full dark:border-gray-600 dark:text-white focus-visible:ring-yellow-500/80 text-md hover:border-gray-700 hover:text-gray-900 dark:hover:border-gray-300 dark:hover:text-gray-100 group max-w-fit focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2 active:text-black"
>
  <slot />
</a>
